---
import '../styles/global.css';
import Wave from '../components/Wave.astro';
import Hero from '../components/Hero.astro';
import Steps from '../components/Steps.astro';
import Newsletter from '../components/Newsletter.astro';
import Testimonials from "../components/Testimonials.astro";
import FAQ from "../components/FAQ.astro";
import Layout from "../components/Layout.astro";
---

<Layout>
<main>
	<Hero backgroundColor="#FCF5C7" />

	<Wave topColor="#FCF5C7" fillColor="#FFD7A6" flip={true} variant={1} />

	<Steps backgroundColor="#FFD7A6" />

	<Wave topColor="#FFADAD" fillColor="#FFD7A6" variant={2} />

	<Testimonials backgroundColor="#FFADAD" />

	<Wave topColor="#FFADAD" fillColor="#DEDAF4" flip={true} variant={3} />

	<FAQ backgroundColor="#DEDAF4" />

	<Wave topColor="#95B8D1" fillColor="#DEDAF4" flip={false} variant={2} />

	<Newsletter backgroundColor="#95B8D1" />
</main>

</Layout>