---
import '../styles/global.css';
import Wave from '../components/Wave.astro';
import Hero from '../components/Hero.astro';
import Steps from '../components/Steps.astro';
import Newsletter from '../components/Newsletter.astro';
import Testimonials from "../components/Testimonials.astro";
import FAQ from "../components/FAQ.astro";
import Layout from "../components/Layout.astro";
---

<Layout>
<main>
	<Hero />

	<Wave topColor="#ffd93d33" fillColor="#FFFFFF" flip={true} variant={1} />

	<Steps />

	<Wave topColor="#4d96ff1a" fillColor="#FFFFFF" variant={2} />

	<Testimonials />

	<Wave topColor="#4d96ff1a" fillColor="#ffffff" flip={true} variant={3} />

	<FAQ />

	<Wave topColor="#FFF9F0" fillColor="#ffffff" flip={false} variant={2} />

	<Newsletter />
</main>

</Layout>